@page "/"

<PageTitle>Wahoo LeCol Results</PageTitle>

<h1>Wahoo LeCol Results</h1>

@*<div class="alert alert-warning" role="alert">
    Before authentication will function correctly, you must configure your provider details in <code>Program.cs</code>
</div>*@

@if (allSeries == null)
{
    <p><em>Loading series...</em></p>
}
else
{
  <ul>
    @foreach (var series in allSeries.OrderByDescending(s => Int32.Parse(s.Id)))
    {
        <li>
            <h2><a href="series/@series.Id">@series.Title</a></h2>

            <ul>
                @for (int i = 1; i <= series.Events.Count(); i++)
                {
                    var race = series.Events.ElementAt(i - 1);
                    <li>
                        <a href="results/@race">Race @i.ToString()</a>
                    </li>
                }
            </ul>
        </li>


    }
</ul>  
}

