@page "/results/{EventId}"

<PageTitle>Event results</PageTitle>

@if (eventResults == null)
{
    <p><em>Loading results...</em></p>
}
else if (eventResults.TeamResults.Count() == 0)
{
     <h1>@eventResults.SeriesTitle</h1>
    <h2>Race @eventResults.EventTitle</h2>
}
else
{
    <TeamStyles ResultsList=eventResults.TeamResults[0]></TeamStyles>

    <h1>@eventResults.SeriesTitle</h1>
    <h2>Race @eventResults.EventTitle</h2>

    <div class="results team">
        @foreach (var pen in eventResults.TeamResults.Keys.OrderBy(k => k))
           {
            <TeamResults Pen=pen ResultsList=eventResults.TeamResults[pen]></TeamResults>
           }
    </div>

    <div class="results individual">
        @foreach (var pen in eventResults.IndividualResults.Keys.OrderBy(k => k))
           {
            <IndividualResults Pen=pen ResultsList=eventResults.IndividualResults[pen]></IndividualResults>
           }
    </div>
}
