@page "/series/{SeriesId}"



@if (seriesResults == null)
{
    <PageTitle>Series Results</PageTitle>
    <p><em>Loading results...</em></p>
}
else if (seriesResults.TeamResults.Count() == 0)
{
    <PageTitle>@seriesResults.SeriesTitle</PageTitle>
    <h1>@seriesResults.SeriesTitle</h1>
}
else
{
    <TeamStyles ResultsList=seriesResults.TeamResults[0]></TeamStyles>

    <h1>@seriesResults.SeriesTitle</h1>
    <h2>Overall rankings after @seriesResults.EventCount race@(seriesResults.EventCount > 1 ? "s" : "")</h2>
    <div class="results team">
        @foreach (var pen in seriesResults.TeamResults.Keys.OrderBy(k => k))
           {
            <TeamResults Pen=pen ResultsList=seriesResults.TeamResults[pen]></TeamResults>
           }
    </div>

    <div class="results individual">
        @foreach (var pen in seriesResults.IndividualResults.Keys.OrderBy(k => k))
           {
            <IndividualResults Pen=pen ResultsList=seriesResults.IndividualResults[pen]></IndividualResults>
           }
    </div>
}
